.login{
    display: grid;
    justify-content: space-around;
    padding:  30px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px solid;
    background-image: white;
    cursor: pointer;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px
}


