.login{
    display: grid;
    grid-template-columns: 20% 50% 20%;
    justify-content: space-around;
        padding:  30px;
        border-radius: 10px;
        cursor: pointer;


    }

    .login-img{
        display: grid;
        height: 500px;
        background-repeat: no-repeat;
        background-size: 350px
    }
  



