.login{
    display: grid;
    justify-content: center;
    padding:  30px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px solid;
    background: white;
    color:gray;
    user-select: none;
    cursor: pointer;
  
}

input{
    margin-bottom: 10px;
}
