
select{
    max-width: 200px;
}

.calender-wrapper{
    justify-content: center;
    display: grid;
    
    
}
.pop-up-messages{
    display: grid;
    justify-self: start;
}


.button-wrapper{
    justify-content: center;
    display: grid;
}
.date-div{
    display: flex;
    justify-content: center;
}
.react-calendar__tile:disabled{
    background-color:#b9b3b3ab;
}
