
select{
    max-width: 200px;
}

.calender-wrapper{
    justify-content: center;
    display: grid;
}
option{
    text-align: left;
}

.button-wrapper{
    justify-content: center;
    display: grid;
}
.date-div{
    display: flex;
    justify-content: center;
}
.react-calendar__tile:disabled{
    background-color:#b9b3b3ab;
}